/* 全体 */
body {
	background-color: #EFF0F7; /* 背景色  */
	text-align: center; /* 中央寄せ */
}

/* ヘッダー、ナビゲーションメニュー */
header, nav {
	text-align: left;
	background-color: rgb(87, 87, 87); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
	padding-left: 20px;
}

.sessionAndLogout{
	position: absolute;
	top: 20px;
	right: 20px;
}


/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
	text-decoration: none;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto; 
}


/* メイン */
main {
	background-color: rgb(192, 192, 192);
	min-height: 50px;
	padding: 20px;
	min-height: 100vh; /* 画面の高さいっぱいに表示 */
}

/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(87, 87, 87);
}

/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
    background-color: rgb(255, 255, 255);
}

/* 表見出しセル */
table th {
	background: rgb(87, 87, 87);
	color: #ffffff;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(87, 87, 87);
	color: #ffffff;
/*	border: none;*/
	width:150px;
	cursor: pointer;
	border: 1px solid rgb(192, 192, 192);
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(144, 144, 144);
}


/*　sns.htmlのテキストエリアの大きさ */
.sns{
    width: 95%;
    height: 100px;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    font-size: 15px;
    pointer-events: none;
}

/* textareaの大きさなど */
textarea{
	width: 95%;
    height: 100px;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    font-size: 15px;
}

/** ページリンクのレイアウト **/
.paging {
    text-align: center;
    margin: 15px 0;
    font-size: 1rem;
    list-style-type: none;
}

.paging li {
    display: inline-block;
}

.paging.current, .paging a {
    padding: 0 3px;
}

.paging a {
    display: block;
}

/* 入力欄の大きさ */
input {
	width: 50%;
	height: 30px;
	
}

/*検索欄の大きさ*/
.search{
	width: 20%;
	height: 30px;
}

/* 削除ボタンの大きさ */
.deleteButton{
	width: 25%;
	height: 30px;
}
/* 線の上下左右の空白 */
hr{
	margin: 0%;
	padding: 0%;
}


