/* 全体 */
body {
	background-color: #EFF0F7; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー */
header, nav {
	background-color: rgb(87, 87, 87); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto; 
}


/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(87, 87, 87);
}

/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}

/* 表見出しセル */
table th {
	background: rgb(87, 87, 87);
	color: #ffffff;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(87, 87, 87);
	color: #ffffff;
/*	border: none;*/
	width:150px;
	cursor: pointer;
	border: 1px solid rgb(192, 192, 192);
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(144, 144, 144);
}


/*　テキストエリアの大きさ */
textarea{
    width: 95%;
    height: 100px;
}

/** ページリンクのレイアウト **/
.paging {
    text-align: center;
    margin: 15px 0;
    font-size: 1rem;
    list-style-type: none;
}

.paging li {
    display: inline-block;
}

.paging.current, .paging a {
    padding: 0 3px;
}

.paging a {
    display: block;
}

/* 入力欄の大きさ */
input {
	width: 50%;
	height: 30px;
	
}
/* 線の上下左右の空白 */
hr{
	margin: 0%;
	padding: 0%;
}

/* 検索バーの位置の設定 */
nav {
	text-align: left;
	padding-left: 10px;
}

