/* 全体 */
body {
	background-color: #EFF0F7; /* 背景色  */
	text-align: center; /* 中央寄せ */
}

/* ヘッダー、ナビゲーションメニュー */
header, nav {
	text-align: left;
	background-color: rgb(87, 87, 87); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
	padding-left: 20px;
}

.sessionAndLogout{
	position: absolute;
	top: 20px;
	right: 20px;
}


/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
	text-decoration: none;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto; 
}


/* メイン */
main {
	background-color: rgb(192, 192, 192);
	min-height: 50px;
	padding: 20px;
	min-height: 100vh; /* 画面の高さいっぱいに表示 */
}

/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(87, 87, 87);
}

/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
    background-color: rgb(255, 255, 255);
}

/* 表見出しセル */
table th {
	background: rgb(87, 87, 87);
	color: #ffffff;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(87, 87, 87);
	color: #ffffff;
/*	border: none;*/
	width:150px;
	cursor: pointer;
	border: 1px solid rgb(192, 192, 192);
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(144, 144, 144);
}

/*削除ボタン（gomibako）*/
.icon {
	float: right;
    top: 0.1em;
    left: 0.1em;
    width: 30px; /* アイコンのサイズに合わせて調整 */
    height: 30px; /* アイコンのサイズに合わせて調整 */
    background-image: url('/img/trash.png'); /* アイコンの画像パス */
    background-size: contain;
    cursor: pointer; /* カーソルをポインターに変更 */
    border:none
}

/*ボタン（リンク）*/
.btn {
	font-size: 14px;
	border: 1px solid #666;
	text-align: center;
	max-width: 200px;
	margin: 20px auto;
	font-family: 'Noto Serif JP', serif;
}
.btn a {
	color: #666;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.btn2 {
	background: #666;
}
.btn2 a {
	color: white;
}


/*　sns.htmlのテキストエリアの大きさ */
.sns{
    width: 95%;
    height: 100px;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    font-size: 15px;
    pointer-events: none;
}

/* textareaの大きさなど */
textarea{
	width: 95%;
    height: 100px;
    /* 枠線を消す */
    border: none;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    font-size: 15px;
}

/** ページリンクのレイアウト **/
.paging {
    text-align: center;
    margin: 15px 0;
    font-size: 1rem;
    list-style-type: none;
}

.paging li {
    display: inline-block;
}

.paging.current, .paging a {
    padding: 0 3px;
}

.paging a {
    display: block;
}

/* 入力欄の大きさ */
input {
	width: 50%;
	height: 30px;
	
}

/*検索欄の大きさ*/
.search{
	width: 20%;
	height: 30px;
}

/* 削除ボタンのスタイル */
.deleteButton {
    width: 10%;
    height: 30px;
    float: right;
}

/* 線の上下左右の空白 */
hr{
	margin: 0%;
	padding: 0%;
}

/* 文字数制限(0になったら赤になる) */
#remaining-characters.max {
  	color: #dd3535;
}

/* パスワードの目のやつ */
.loginPassword {
	margin-left: 24px;
}


