<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>サンプルSNS</h1>
	</header>
	
	<main>
		<h2>ログイン</h2>
		<span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></span>
		<form action="/login" method="post" onSubmit="return validate()">
			<input type="email" id="email" name="email" placeholder="メールアドレス"> <br>
			<br>
		    <input type="text" id="password" name="password" placeholder="パスワード"> <br>
		    <br>
		<button>ログイン</button>
		</form>
		<br>
		<a href="/user/new">ユーザー新規作成</a>
	</main>
	<script th:src="@{/js/loginCheck.js}"></script>
</body>
</html>