<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>ユーザー新規作成</title>
</head>
<body>
	<header>
		<h1>サンプルSNS</h1>
	</header>
	
	<main>
		<h2>ユーザー新規作成</h2>
		<span th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></span>
		<form action="/users/add" method="post" onsubmit="return accountValidate()">
			<input type="text" id="name" name="name" placeholder="ユーザー名" th:value="${name}"> <br>
			<br>
			<input type="email" id="email" name="email" placeholder="メールアドレス" th:value="${email}"> <br>
			<br>
			<input type="text" id="password" name="password" placeholder="パスワード(英数字8～16文字以内)"><br>
			<br>
			<input type="text" id="passwordConfirm" name="password_confirm" placeholder="パスワード(確認)"><br>
			<br>
			<button>新規登録</button>
		</form>
		<br>
		<a href="/login">ログインへ</a>
	</main>
	<script th:src="@{/js/userJsProcessing.js}"></script>
</body>

</html>